<header class="contactos-list__header">
  <div class="contactos-list__title-block">
    <h1 class="contactos-list__title">{{ t().entities.contacto.name }}</h1>
  </div>
</header>

<div class="card">
  <lib-data-toolbar
    [primaryAction]="primaryAction"
    [trailingActions]="trailingActions"
    [deleteSelectedEnabled]="hasSelection()"
    [deleteSelectedCount]="selectedRows().length"
    (actionInvoked)="onToolbarAction($event)"
    (deleteSelected)="removeSelected()"
  />

  <lib-data-table
    [columns]="columns"
    [items]="items()"
    [totalCount]="totalCount()"
    [loading]="isLoading()"
    [pageSize]="pageSize()"
    [currentPage]="currentPage()"
    selectionMode="multiple"
    [selectedRows]="selectedRows()"
    [rowActions]="rowActions"
    (pageChange)="onPageChange($event)"
    (selectionChange)="onSelectionChange($event)"
    (rowActionInvoked)="onRowAction($event)"
  />
</div>

<p-confirmDialog />

<app-import-dialog
  [visible]="importVisible()"
  (visibleChange)="onImportVisibleChange($event)"
  [title]="t().entities.contacto.import.title"
  [subtitle]="t().entities.contacto.import.subtitle"
  [importing]="importLoading()"
  [errors]="importErrors()"
  [mastersTouched]="importMasters()"
  (importRequested)="onImportRequested($event)"
  [exampleConfig]="exampleConfig"
/>
