<lib-breadcrumb [items]="breadcrumbItems()" />

<header class="contactos-list__header">
  <div class="contactos-list__title-block">
    <h1 class="contactos-list__title">{{ t().entities.contacto.name }}</h1>
  </div>
</header>

<div class="card">
  <lib-data-toolbar
    [primaryAction]="primaryAction"
    [trailingActions]="trailingActions"
    [searchEnabled]="false"
    [searchValue]="searchValue()"
    [searchPlaceholderKey]="'entities.contacto.searchPlaceholder'"
    [filtersEnabled]="true"
    [activeFiltersCount]="activeFilters().length"
    [deleteSelectedEnabled]="hasSelection()"
    [deleteSelectedCount]="selectedRows().length"
    (searched)="onSearchChange($event)"
    (actionInvoked)="onToolbarAction($event)"
    (filtersToggle)="openFilters()"
    (filtersClear)="clearFilters()"
    (deleteSelected)="removeSelected()"
  />

  <lib-data-table
    [columns]="columns"
    [items]="items()"
    [totalCount]="totalCount()"
    [loading]="isLoading()"
    [pageSize]="pageSize()"
    [currentPage]="currentPage()"
    [sort]="sort()"
    selectionMode="multiple"
    [selectedRows]="selectedRows()"
    [rowActions]="rowActions"
    [rowClickable]="true"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
    (selectionChange)="onSelectionChange($event)"
    (rowActionInvoked)="onRowAction($event)"
    (rowClick)="onRowClick($event)"
  />
</div>

<lib-data-filter-modal
  [fields]="filterFields"
  [value]="activeFilters()"
  [visible]="filtersVisible()"
  (visibleChange)="filtersVisible.set($event)"
  (apply)="onFiltersApply($event)"
/>

<p-confirmDialog />

<app-import-dialog
  [visible]="importVisible()"
  (visibleChange)="onImportVisibleChange($event)"
  [title]="t().entities.contacto.import.title"
  [subtitle]="t().entities.contacto.import.subtitle"
  [importing]="importLoading()"
  [errors]="importErrors()"
  [errorSummary]="importErrorSummary()"
  [errorTotal]="importErrorTotal()"
  [mastersTouched]="importMasters()"
  (importRequested)="onImportRequested($event)"
  [exampleConfig]="exampleConfig"
/>
