<button
  type="button"
  class="user-menu__trigger"
  (click)="toggle($event)"
  [attr.aria-label]="t().layout.userMenu.label + ', ' + displayName()"
>
  <lib-user-avatar styleClass="user-menu__avatar" />
</button>

<p-menu #menu [popup]="true" [model]="items" appendTo="body" styleClass="user-menu__menu">
  <ng-template #start>
    <div class="user-menu__header">
      <p class="user-menu__name">{{ displayName() }}</p>
      <p class="user-menu__email">{{ email() }}</p>
    </div>
  </ng-template>
  <ng-template #end>
    <div class="user-menu__lang">
      <lib-language-toggle />
    </div>
  </ng-template>
</p-menu>
