<lib-breadcrumb [items]="breadcrumbItems()" />

<header class="puestos-list__header">
  <div class="puestos-list__title-block">
    <h1 class="puestos-list__title">{{ t().entities.puesto.name }}</h1>
  </div>
</header>

<div class="card">
  <lib-data-toolbar
    [primaryAction]="primaryAction"
    [searchEnabled]="true"
    [searchPlaceholderKey]="'entities.puesto.searchPlaceholder'"
    [searchValue]="searchValue()"
    [filtersEnabled]="true"
    [activeFiltersCount]="activeFilters().length"
    [deleteSelectedEnabled]="hasSelection()"
    [deleteSelectedCount]="selectedRows().length"
    (searched)="onSearchChange($event)"
    (actionInvoked)="onToolbarAction($event)"
    (filtersToggle)="openFilters()"
    (filtersClear)="clearFilters()"
    (deleteSelected)="removeSelected()"
  />

  <lib-data-table
    [columns]="columns"
    [items]="items()"
    [totalCount]="totalCount()"
    [loading]="isLoading()"
    [pageSize]="pageSize()"
    [currentPage]="currentPage()"
    [sort]="sort()"
    selectionMode="multiple"
    [selectedRows]="selectedRows()"
    [rowActions]="rowActions"
    [rowClickable]="true"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
    (selectionChange)="onSelectionChange($event)"
    (rowActionInvoked)="onRowAction($event)"
    (rowClick)="onRowClick($event)"
  />
</div>

<lib-data-filter-modal
  [fields]="filterFields"
  [value]="activeFilters()"
  [visible]="filtersVisible()"
  (visibleChange)="filtersVisible.set($event)"
  (apply)="onFiltersApply($event)"
/>

<p-confirmDialog />
